<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="com/jjang051/mybatis/db.properties" />
	<typeAliases>
		<typeAlias type="com.jjang051.model.ReplyDto" alias="ReplyDto"     />
		<typeAlias type="com.jjang051.model.MemberDto" alias="MemberDto"   />
		<typeAlias type="com.jjang051.model.SearchDto" alias="SearchDto"   />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- session을 만들어서 사용 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/jjang051/mybatis/ReplyBoardMapper.xml" />
		<mapper resource="com/jjang051/mybatis/MemberMapper.xml" />
	</mappers>
</configuration>