<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjang051.mybatis.MemberMapper">
	<!-- select / insert /  update / delete -->
	<!-- X(extendable) M L -->
	<select id="showAllMember" resultType="MemberDto">
		SELECT * FROM MEMBER ORDER BY NO DESC
	</select>
	<select id="getMemberSelectOne" resultType="MemberDto" parameterType="Integer">
		SELECT * FROM MEMBER WHERE NO = #{no} 
	</select>
	<select id="getPassword" resultType="String" parameterType="Integer">
		SELECT PASSWORD FROM MEMBER WHERE NO = #{no}
	</select>
	<delete id="deleteMember" parameterType="Integer">
		DELETE FROM MEMBER WHERE NO = #{no}
	</delete>
	<insert id="insertMember" parameterType="MemberDto">
		INSERT INTO MEMBER VALUES (SEQ_MEMBER.NEXTVAL,
								   #{id},
								   #{password},
								   #{name},
								   #{zipcode},
								   #{address},
								   #{hp},
								   #{email}
								  )
	</insert>
	<update id="updateMember" parameterType="MemberDto">
		UPDATE  MEMBER SET NAME = #{name},ZIPCODE = #{zipcode},
		ADDRESS = #{address},HP = #{hp},EMAIL = #{email} 
		WHERE ID = #{id} AND PASSWORD = #{password}
		
	</update>
	<select id="idCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(*) AS COUNT FROM MEMBER WHERE ID = #{id}
	</select>	
	<select id="getLoggedMember" parameterType="MemberDto">
		SELECT * FROM MEMBER WHERE ID = #{id}
	</select>
	<select id="LoginCheckFrom" parameterType="MemberDto" resultType="MemberDto">
		SELECT * FROM MEMBER WHERE ID = #{id} AND PASSWORD = #{password}
	</select>
	<!-- id에 적용된 값을 dao에서 가져다 쓴다. -->
</mapper>