@charset "UTF-8";
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: "IBM Plex Sans KR", sans-serif;
}
main {
    min-height: 60vh;
}
a {
    text-decoration: none;
    color:inherit;
}
li {
    list-style: none;
}
#header {
    .container {
        width:100%;
        background:#000;
        color:#fff;
        display:flex;
        justify-content: space-between; // main-axis
        align-items: center;
        padding:50px;  //상하좌우 전부 50px;
        nav {
            ul {
                display:flex;
                li {
                    a {
                        display: block;
                        padding:0 20px;
                        font-size:18px;
                    }
                }
            }
        }
    }
}
#footer {
    background: #000;
    color:#fff;
    padding:50px 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
#contents {
    padding:100px 0;
}
.contentsTitle {
    text-align:center;
    font-size:36px;
    font-weight:500;
    &:after {
        content: '';
        display: block;
        width:50px;
        height: 5px;
        background-color: rgb(2, 120, 175);
        border-radius: 100px;
        margin: 50px auto;
    }
}

//form  관련
table {border:none; border-collapse:collapse; border-top:1px solid #999; width:100%;}
.form {
    &.wide {
        width:1200px;
    }
    width:1200px;
    margin:0  auto;
    table {
        &.tdLeft {
            td {
                text-align: left;
            }
        }
    }    
    tbody{
        td {
            text-align: center;
            &.left {
                text-align: left;
            }
            &.space2 {
                padding-left:20px;
            }
            &.space3 {
                padding-left:40px;
            }
            &.space4 {
                padding-left:60px;
            }
            
            textarea {
                width:100%; 
                min-height:400px;
                resize: none;
            }
        }
        tr:hover {
            td {
                //background-color: #000;
                //color:#fff;
            }
            
        }
    }
    thead th {
        background-color: #f8f8f8;
    }
    td,th {
        padding:10px; 
        border:none; 
        border-bottom:1px solid #999;
    }
    th {background-color:#f8f8f8; font-weight:400;}
    input[type="text"],input[type="password"],input[type="number"],input[type="button"], select {
        border:1px solid #d9d9d9; 
        padding:10px; 
        min-width:400px;
    }
    input[type="button"] {
        background-color: #000;
        border-radius:5px;
        color:#fff;
        //width:80px;
        //height:37px;
        //padding:0 20px;
        min-width: 80px;
    }
    td span {
        //margin-left: 10px;
    }
    //td div{margin: 5px 0;}
    .short {width:150px;min-width:150px !important;}
    td .txtPass {
        font-size:12px;
        color:rgb(0, 43, 185);
        &.red {
            color:rgb(170, 2, 10);
        }
    }
    .txtContents {
        white-space: pre;
    }
}
.btns > * {display:inline-block;}
.btns.center {text-align:center;}

.btns {
    margin-top: 100px;
    input[type="submit"],input[type="button"],input[type="reset"], button, a {
        width:150px;
        height: 60px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #000;
        color:#fff;
        border-radius: 10px;
        border:none;
    }
}

input[type="submit"] {
    width:150px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color:#fff;
    border-radius: 10px;
    border:none;
}

.paginationBox {
    margin-top: 50px;
    ul {
        display:flex;
        justify-content: center;
        li {
            &.active {
                a {
                    background-color: #03acd6;
                }
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width:30px;
                height: 30px;
                background-color: #111;
                color:#fff;
                border-radius: 3px;
                margin: 0 3px;
            }
        }
    }
}

.searchForm {
    background:#f8f8f8;
    padding:50px 0;
    display: flex;
    justify-content: center;
    border:1px solid #ccc;
    margin-top:50px;
    .searchSelect {
        min-width: 200px;
        width:200px;
    }
    .btn {
        height: 45px;
        width:120px;
        margin-left: 10px;
    }
}

.prevAndNext {
    margin:50px 0;
    .item {
        display: flex;
        align-items: center;
        padding:20px;
        border-bottom:1px solid #d9d9d9;
        .inner {
            display: inline-block;
        }
    }
}

.table {
    display:table;
    width:100%;
    .thead {
        display:table-header-group;
        background-color: #f8f8f8;
        font-weight: 700;
        > div {
            display:table-cell;
            padding:20px 10px;
            text-align: center;
            border-top:2px solid #333;
            border-bottom:1px solid #d9d9d9;
            
        }
    }
    .tbody {
        display:table-row-group;
        margin-top:20px;
        li {
            display:table-row;
            transition:  all 0.25s ease;
            &:hover {
                background-color: #eee;
            }
            > div {
                display:table-cell;
                border: 1px solid #d9d9d9;
                padding:20px 10px;
                text-align: center;
                border-right: none;
                border-top:none;
                &:first-child {
                    border-left: none;
                }
            }
        }
    }
}